<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a class="button" href="/login">IG Login</a>
    <p id="status"></p>
    <button onclick="myfun()">Click</button>

    <fb:login-button scope="public_profile,email,instagram_content_publish" onlogin="checkLoginState();">
    </fb:login-button>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        let response_var;
        window.fbAsyncInit = function () {
            FB.init({
                appId: '583154923025501',
                cookie: true,
                xfbml: true,
                version: 'v14.0'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            response_var = response;
            console.log(response);
            $.ajax({
                url:"/get-token",
                type:"POST",
                contentType: "application/json",
                data: JSON.stringify(response),
            })
            if (response.status === 'connected') {
                testAPI();

            } else if (response.status === 'not_authorized') {
                FB.login(function (response) {
                    statusChangeCallback2(response);
                }, { scope: 'public_profile,email' });

            } else {
                alert("not connected, not logged into facebook, we don't know");
            }
        }

        function statusChangeCallback2(response) {
            console.log('statusChangeCallback2');
            console.log(response);
            if (response.status === 'connected') {
                testAPI();

            } else if (response.status === 'not_authorized') {
                console.log('still not authorized!');

            } else {
                alert("not connected, not logged into facebook, we don't know");
            }
        }

        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        function testAPI() {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function (response) {
                console.log('Successful login for: ' + response.name);
                document.getElementById('status').innerHTML =
                    'Thanks for logging in, ' + response.name + '!';
            });
        }

    </script>
</body>

</html>